body
    {

        background-color: black;
        padding: 0em;
        margin: 0em;

    }

section {
    border-bottom: 1px solid black;
}

#footer {
    display: block;
    background-color:black;
    color: white;
    font-family:'bitter', serif;
    text-align: center;
    margin-top: 100em;
    margin-bottom: .2em;
    padding: 0.5em;

}
#heading
    {
    text-align: center;
    font-family: 'Lora',serif;
    font-size: 2em;
    color: green;
    padding: .2em;
    margin: 0em;
    padding-bottom: .2em;
    }


.offscreen {
 position: absolute;

}

#leftSidebar {
  width: 300px;
  box-sizing: border-box;height: 600px;
  box-sizing: border-box;width: 300px;
  float: left;
}




#hmenu {
  margin: 0;
  padding: .3em 0 .3em 0;
  background: #F3F8F2;
  width: 100%;
  text-align: center;
  font: 'Droid Sans', sans-serif;
}

#hmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#hmenu ul li {
  margin: 0;
  padding: 0;
  display: inline;

}

#hmenu ul a:link{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  color: #00FF00;
}

div#hmenu ul a:visited{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #191308;
}

#hmenu ul a:active{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #227755;
}

#hmenu ul a:hover{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: green;
  background-color: #00FF00;
}

#section1 {

    background-color:green;
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
}

#section1 h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
    padding-bottom: .5em;
    margin-top: 1em;
    margin-left: 11em;
    margin-right: 2em;
    padding-top: .5em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
    background-color: #green;
    color: green;
}
#section1 p {
    font-family: 'Droid Sans', sans-serif;;
    font-size: 1em;
    padding-bottom: 24em;
    text-align: center;
}


#section2 {

    background-color:#00FF00;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
    text-align: center;
}

#section2 h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
    padding-bottom: .5em;
    margin-top: 1em;
    margin-left: 15em;
    margin-right: 2em;
    padding-top: .5em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
    background-color: #00FF00;
    color: green;
    text-align: center;
}

#section2 p {
    font-family: 'Droid Sans', sans-serif;;
    font-size: 1em;
    padding-bottom: 24em;
    text-align: left;
    float: left;
}


#section3 {

    background-color:#00FF00;
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
    text-align: center;
}

#section3 h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
    padding-bottom: .5em;
    margin-top: 1em;
    margin-left: 17em;
    margin-right: 2em;
    padding-top: .5em;
    padding-left: 1em;
    border-style: double;
    border-radius: 0em;
    background-color: green;
    color: green;
    text-align: center;
}
#section3 p {
    font-family: 'Droid Sans', sans-serif;;
    font-size: 1em;
    padding-bottom: 24em;
    text-align: center;
}

#aboutcontent p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  color: green;
}
